
<form [formGroup]="addEditMemberForm">
  <div class="row">
    <div class="col-sm-12">
      <ng-container *ngIf="operation === 'Add'">
<button (click)="onSubmit('Add1')">Save and create new user</button>

      </ng-container>
      
    </div>
   
  </div>
  <div class="row">
    <div class="col-sm-12">
      <label for="firstName">First Name:</label>
      <input type="text" formControlName="firstName" class="form-control" placeholder="Name">
<div *ngIf="addEditMemberForm.get('firstName').errors && addEditMemberForm.get('firstName').touched">


        <span class="alert alert-danger">!</span>
      <p>{{addEditMemberForm.get('firstName').errors.msg || 'Please enter your first name'}}</p>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <label for="lastName">Last Name:</label>
      <input type="text" formControlName="lastName" class="form-control" placeholder="Last Name">
    </div>
  </div>
<div class="row">
  <div class="col-sm-12">
    <label for="email">Email:</label>
    <input type="text" formControlName="email" class="form-control" placeholder="Email">
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="register-user-input-birthdate register-user-input">
      <select class="form-control" name="month" formControlName="month">
        <option value="" disabled selected hidden>Month</option>
        <option value="01">January</option>
        <option value="02">February</option>
        <option value="03">March</option>
        <option value="04">April</option>
        <option value="05">May</option>
        <option value="06">June</option>
        <option value="07">July</option>
        <option value="08">August</option>
        <option value="09">September</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="12">December</option>
      </select>
      <input class="form-control" type="number" name="day" formControlName="day" placeholder="Day">
      <input class="form-control" type="number" name="year" formControlName="year" placeholder="Year">
    </div>
  </div>
</div>
</form>

